body{
    background-color: rgb(121, 121, 121);
}
.grid-container {
display: grid; /* display property is set to grid or inline-grid. */
grid-template-areas: 'myArea myArea myArea';
grid-template-rows: auto auto;
column-gap: 5px;
row-gap: 5px;
background-color: #2196F3;
padding: 10px;
}
.grid-item {
background-color: rgba(255, 255, 255, 0.8);
border: 1px solid rgba(0, 0, 0, 0.8);
padding: 20px;
font-size: 30px;
text-align: center;
}
/*.item8 {
grid-area: 1 / 2 / 5 / 6;
}*/
.item1 {
 grid-area: myArea;
}
