body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h2, h3 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;

    font-weight: normal;
    font-size: 24px;
    text-align: center;

    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    
}

.nav {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

.nav a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
}

.nav a:hover {
    background: #555;
}

.content {
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    background: #f9f9f9;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background: #f4f4f4;
    font-weight: bold;
    text-align: center;
}


img {
   
    margin-bottom: 20px;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    image-rendering: none;
    max-width: 100%;
    height: auto;
    
    
}
