body { 
    background: #DDFCDD; 
    color: black; 
} 
h1 { 
    text-align: left; 
    font-size: 18pt; 
    font-style: normal; 
    color: blue; 
} 
h3 { 
    text-align: left; 
    font-size: 14pt; 
    font-style: italic; 
    color: magenta; 
} 
p { 
    text-align: center; 
    font-style: normal; 
    font-family: Cordia New; 
    font-size: 14pt; 
} 
.red{
    color: red;
}
#green{
    color: green;
}
#big{
    font-size: 800px;
}